{% extends "base.html" %}
{% block content %}
<h3>Login</h3>
<form method="post">{% csrf_token %}
  <div class="mb-3"><label>Email</label><input type="email" name="email" class="form-control" required></div>
  <div class="mb-3"><label>Password</label><input type="password" name="password" class="form-control" required></div>
  <button class="btn btn-primary">Login</button>
  <a class="btn btn-link" href="/accounts/password-reset/">Forgot password?</a>
</form>
{% load socialaccount %}
{% if not debug %}
<a href="{% provider_login_url 'google' %}">Войти через Google</a>
{% endif %}
{% providers_media_js %}
{% endblock %}
